.preanimation {
  opacity: 0;
  transform: translateY(-50%);
}
.slide-down-animation {
    animation: slide-down-animation 1s var(--animation-delay) forwards;
  }
  @keyframes slide-down-animation {
    0% { opacity: 0; transform: translateY(-50%);}
    80% { opacity: 0; transform: translateY(-50%);}
    100% { opacity: 1; transform: translateY(0%);}
  }