@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;500;600;800&display=swap');
@import 'sal.js/dist/sal.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      @apply font-poppins text-white bg-primary;
    }
    .min-h-main {
        min-height: calc(100vh - 66px);
    }
    .section {
        @apply max-w-7xl mx-auto px-4;
    }
    .activities p {
      @apply shadow shadow-black p-4 rounded-md bg-primary-800;
    }
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px lightgrey; 
        border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-blue-600;
        border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-blue-800;
    }
}
.btn {
  @apply border rounded-full px-4 py-2 font-semibold hover:bg-white hover:text-black transition-colors;
}
.circuit-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1684%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1685%26quot%3b)'%3e%3cpath d='M1298 242L1254 286L1210 286M1430 286L1386 286L1342 286L1298 286M1122 286L1078 242L1034 242L990 242L946 242M1474 286L1430 286L1386 242L1342 242L1298 242L1254 242L1210 242L1166 286L1122 286L1078 286L1034 286L990 286' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='7.33'%3e%3c/path%3e%3cpath d='M979 286 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM1199 286 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM1287 286 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM935 242 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M1474 242L1430 242' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='7.33'%3e%3c/path%3e%3cpath d='M1419 242 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M902 374L858 330L814 330L770 330L726 330L682 330M946 374L902 330L858 286M990 374L946 330M1034 330L990 330M1474 330L1430 330L1386 330L1342 330L1298 330L1254 330L1210 330L1166 330L1122 330L1078 330L1034 330L990 374L946 374L902 374L858 374L814 374L770 374' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='7.33'%3e%3c/path%3e%3cpath d='M759 374 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM671 330 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM847 286 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM935 330 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM979 330 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M1122 154L1078 198L1034 198L990 198M1210 154L1166 198L1122 198M1166 154L1122 110L1078 110M1474 198L1430 198L1386 198L1342 198L1298 198L1254 198L1210 154L1166 154L1122 154L1078 154L1034 154L990 154' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='7.33'%3e%3c/path%3e%3cpath d='M979 154 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM979 198 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM1111 198 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM1067 110 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M1342 374L1298 418M770 418L726 462L682 462M858 418L814 462L770 462M1122 374L1078 418L1034 418L990 462L946 462L902 462M1474 374L1430 374L1386 374L1342 374L1298 374L1254 374L1210 374L1166 374L1122 374L1078 374L1034 374L990 418L946 418L902 418L858 418L814 418L770 418L726 418' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='7.33'%3e%3c/path%3e%3cpath d='M715 418 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM1287 418 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM671 462 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM759 462 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM891 462 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M1430 154L1386 110M1298 154L1254 110L1210 110M1474 154L1430 154L1386 154L1342 154L1298 154L1254 154' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='7.33'%3e%3c/path%3e%3cpath d='M1243 154 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM1375 110 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0zM1199 110 a11 11 0 1 0 22 0 a11 11 0 1 0 -22 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1684'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1685'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M984.5 286 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM1204.5 286 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM1292.5 286 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM940.5 242 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0z' fill='black'%3e%3c/path%3e%3cpath d='M1424.5 242 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0z' fill='black'%3e%3c/path%3e%3cpath d='M764.5 374 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM676.5 330 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM852.5 286 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM940.5 330 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM984.5 330 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0z' fill='black'%3e%3c/path%3e%3cpath d='M984.5 154 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM984.5 198 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM1116.5 198 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM1072.5 110 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0z' fill='black'%3e%3c/path%3e%3cpath d='M720.5 418 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM1292.5 418 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM676.5 462 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM764.5 462 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM896.5 462 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0z' fill='black'%3e%3c/path%3e%3cpath d='M1248.5 154 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM1380.5 110 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0zM1204.5 110 a5.5 5.5 0 1 0 11 0 a5.5 5.5 0 1 0 -11 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right;
}
.circuit-bg-2 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)'%3e%3cpath d='M122.5 220.5L171.5 269.5L220.5 269.5L269.5 269.5M24.5 269.5L73.5 318.5L122.5 318.5L171.5 318.5L220.5 318.5L269.5 318.5L318.5 318.5M514.5 220.5L563.5 269.5L612.5 269.5L661.5 269.5L710.5 269.5M612.5 220.5L661.5 171.5M-24.5 269.5L24.5 269.5L73.5 269.5L122.5 220.5L171.5 220.5L220.5 220.5L269.5 220.5L318.5 220.5L367.5 220.5L416.5 220.5L465.5 220.5L514.5 220.5L563.5 220.5L612.5 220.5L661.5 220.5L710.5 220.5L759.5 220.5L808.5 220.5' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='8.17'%3e%3c/path%3e%3cpath d='M796.25 220.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM257.25 269.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM306.25 318.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM698.25 269.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM649.25 171.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M367.5 367.5L416.5 318.5M465.5 367.5L514.5 318.5L563.5 318.5L612.5 318.5M563.5 367.5L612.5 416.5L661.5 416.5M-24.5 318.5L24.5 367.5L73.5 367.5L122.5 367.5L171.5 367.5L220.5 367.5L269.5 367.5L318.5 367.5L367.5 367.5L416.5 367.5L465.5 367.5L514.5 367.5L563.5 367.5L612.5 367.5L661.5 367.5' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='8.17'%3e%3c/path%3e%3cpath d='M649.25 367.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM404.25 318.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM600.25 318.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM649.25 416.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M-24.5 220.5L24.5 220.5L73.5 220.5L122.5 171.5L171.5 171.5' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='8.17'%3e%3c/path%3e%3cpath d='M159.25 171.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M171.5 416.5L220.5 465.5L269.5 465.5L318.5 465.5L367.5 465.5M465.5 416.5L514.5 416.5L563.5 416.5M416.5 416.5L465.5 465.5M-24.5 367.5L24.5 416.5L73.5 416.5L122.5 416.5L171.5 416.5L220.5 416.5L269.5 416.5L318.5 416.5L367.5 416.5L416.5 416.5L465.5 416.5L514.5 465.5' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='8.17'%3e%3c/path%3e%3cpath d='M502.25 465.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM355.25 465.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM551.25 416.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM453.25 465.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M24.5 171.5L73.5 122.5M-24.5 171.5L24.5 171.5L73.5 171.5L122.5 122.5L171.5 122.5L220.5 122.5' stroke='rgba(0%2c 16%2c 39%2c 1)' stroke-width='8.17'%3e%3c/path%3e%3cpath d='M208.25 122.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0zM61.25 122.5 a12.25 12.25 0 1 0 24.5 0 a12.25 12.25 0 1 0 -24.5 0z' fill='rgba(0%2c 16%2c 39%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1045'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M802.37 220.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM263.37 269.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM312.37 318.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM704.37 269.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM655.37 171.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M655.37 367.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM410.37 318.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM606.37 318.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM655.37 416.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M165.37 171.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M508.37 465.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM361.37 465.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM557.37 416.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM459.37 465.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M214.37 122.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0zM67.37 122.5 a6.13 6.13 0 1 0 12.26 0 a6.13 6.13 0 1 0 -12.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right;
}
.intro-bg {
    max-height: calc(100vh - 66px);
    height: 100%;
}
.intro-bg-mobile {
    background-image: url("development.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    min-height: 400px;
    height: 100%;
}
.clip-path {
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 0 100%);
}
/* Mobile Nav */
.clip-nav-full {
  clip-path: circle(120% at 100% 25%);
}
.clip-nav-0{
  clip-path: circle(0% at 100% 25%);
}
/* INTRO  */
.text-animation {
  @apply overflow-hidden h-[1.5em];
}
.text-animation span {
  animation: text-animation 8s var(--animation-delay) linear infinite;
}
@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -6em;}
  95% {margin-top: -6em;}
  100% {margin-top: 0;}
}
/* Achievement card */
.achievement-card {position: relative;}
.achievement-card:nth-child(even) {
    padding: 30px 0 30px 30px;
  }
  .achievement-card:nth-child(odd) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .achievement-card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #2563EB;
  }
  
  /* Setting the border of top, bottom, left */
  .achievement-card:nth-child(even)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 20px 0 0 20px;
  }
  
  /* Setting the border of top, bottom, right */
  .achievement-card:nth-child(odd)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 20px 20px 0;
  }
  
  /* Removing the border if it is the first card */
  .achievement-card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;  }  
  /* Removing the border if it is the last card  and it's even */
  .achievement-card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .achievement-card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  .achievement-card > * {position: relative;}
  .achievement-card > *::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }
  /* Time line in Achievement */
  .time-line {
    position: relative;
    border-left: 4px solid #93C5FD;
    margin-left: 1rem;
  }
  .time-line::after {
    position: absolute;
    top: 2rem;
    left: -1rem;
    content: "";
    padding: 14px;
    background: #2563EB;
    border-radius: 2rem;
  }

